# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local








# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/assets/Components/Multiuse/PlacesCategoriesDict.js
backend/photos/
backend/superpower_icons/
backend/trips/
backend/videos/
backend/cliques_photos/
backend/events/
backend/map_icons/
backend/functionalPhotos/
backend/.env
backend/get_interactions_centroids_kmeans/.env
backend/get_interactions_centroids_kmeans/__pycache__/