
:root {
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
  width:100%;
  
}


header {
  text-align: center;
  width: 100%;
}
body {
  background-color: #fff;
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.unicorn-icon {
  filter: drop-shadow(0 0 0 black)
          drop-shadow(0 0 2px black)
          drop-shadow(0 0 4px black);
}
footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 200px;
  font-size: 20px;
}
footer>p>a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}
footer>p {
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: none;
  color: white;
}
